@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import './variable';
@import './mixins';
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #15232c;
    -webkit-font-smoothing: antialiased;
    padding: 0px;
    padding-top: 47px;
    margin: 0px;
    div {
        box-sizing: border-box;
    }
    .main_navbar{
        height: 45px;
        background-color: white;
        position: fixed;
        width: 100%;
        top: 0;
        right: 0;
        z-index: 1000;
        line-height: 45px;
        .brand{
            padding-left:15px;
            color: #2B3442;
            font-size:1.3rem;
            font-weight: 900;
            text-decoration: none;
            .logo {
                display: inline-block;
                padding-right: 2px;
                color: #518DCA;
            }
        }
    }
}

@import './details';


@media (max-width: 543px) {
}

@media (min-width: 767px) { 

 }

